<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<title>Sign up</title>
</head>
<body>

<div class="container">
	
	<div class="form">
    <div class="title">
      FORM
    </div>
	<form #myForm = "ngForm" (ngSubmit)="onSubmit(myForm.value)">
		<div class="input_field">
			<input type="text" required minlength="8" maxlength="15" pattern="^[a-z][a-z\s]*$" ngModel name="firstname" #firstname="ngModel" class="input" id="firstname" placeholder="NAME">
      <div class="warning" *ngIf="firstname.errors && (firstname.touched && !firstname.valid)">
        <div  *ngIf="firstname.errors?.['required']"><p>Firstname is required </p></div>
        <div  *ngIf="firstname.errors?.['minlength']"><p>Length min 8 characters</p></div>
        <div  *ngIf="firstname.errors?.['pattern']"><p>name must containes letters and space</p></div>
      </div>
      
		</div>
    
    <div class="input_field">
			<input type="text" required ngModel name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  class="input" placeholder="EMAIL">
      <div class="warning" *ngIf="email.errors && (email.touched && !email.valid)">
        <div  *ngIf="email.errors?.['required']"><p>Email is required </p></div>
        <div  *ngIf="email.errors?.['pattern']"><p>Invalid Email</p></div>
      </div>
		</div>
		<div class="input_field">
			<input type="tel" required ngModel name="number" #number="ngModel" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" class="input" placeholder="MOBILE NUMBER">
      <div class="warning" *ngIf="number.errors && (number.touched && !number.valid)">
        <div  *ngIf="number.errors?.['required']"><p>Mobile number is required </p></div>
        <div  *ngIf="number.errors?.['pattern']"><p>Invalid Mobile Number</p></div>
      </div>
		</div>
		<div class="input_field">
			<input type="password" required minlenght="8" ngModel #password="ngModel" name="password"  pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" class="input" placeholder="PASSWORD">
      <div class="warning" *ngIf="password.errors && (password.touched && !password.valid)">
        <div  *ngIf="password.errors?.['required']"><p>Password is required </p></div>
        <div  *ngIf="password.errors?.['pattern']"><p>Password must contains one digit, uppercase, lowercase, special character, Length 8 character</p></div>
      </div>
		</div> 
		<!-- <div class="input_field">
			<input type="password" name="confirmpassword"  class="input" placeholder="CONFIRM PASSWORD">
		</div> -->
		<div class="input_field">
			<input type="text" required ngModel #companyname="ngModel" class="input" name="companyname" pattern="^[a-zA-Z0-9 ]*$" placeholder="COMPANY NAME">
      <div class="warning" *ngIf="companyname.errors && (companyname.touched && !companyname.valid)">
        <div  *ngIf="companyname.errors?.['required']"><p>Company name is required </p></div>
        <div  *ngIf="companyname.errors?.['pattern']"><p>Contains only numbers letters</p></div>
      </div>
		</div>
    <div class="input_field">
			<input type="text" required ngModel name="dob" #dob="ngModel" class="input" placeholder="DOB" onfocus="(this.type='date')" onblur="(this.type='text')"/>
      <div class="warning" *ngIf="dob.errors && (dob.touched && !companyname.valid)">
        <div  *ngIf="dob.errors?.['required']"><p>Date is required </p></div>
      </div>
		</div>
    <div class="input_field">
			<input type="file" required ngModel  ngf-select ng-model="picFile" accept="image/*" (change)="onselectfile($event)"
      ngf-max-size="2MB" ngf-model-invalid="errorFiles" #photo="ngModel" class="input" name="photo" placeholder="DOB">
      <div class="warning" *ngIf="photo.errors && (photo.touched && !photo.valid)">
        <div  *ngIf="photo.errors?.['required']"><p>Upload the photo</p></div>
      </div>
      <div class="warning" *ngIf="photo.touched && photo.valid"><p>{{warn}}</p></div>
		</div>
		<div >
			<input class="btn" type="submit" value="SUBMIT"  [disabled]="!myForm.valid"  name="submit">
		</div>

	</form>
</div>
<div *ngIf="submitted"> 
  <img src="{{url}}" alt="profile pic" width="400px" height="400px">
  <h3>Entered Details</h3>
  <p>Name</p>
  <h2>{{result.firstname}}</h2>
  <p>Email</p>
  <h2>{{result.email}}</h2>
  <p>Mobile Number</p>
  <h2>{{result.number}}</h2>
  <p>Company Name</p>
  <h2>{{result.companyname}}</h2>
  <p>Date Of Birth</p>
  <h2>{{result.dob}}</h2>
</div>
</div>

</body>

</html>